<div class="main-page">
  <mat-toolbar color="primary">
    <span>myFlix</span>
    <span class="toolbar-spacer"></span>
    <button
      mat-raised-button
      (click)="openRegistrationDialog()"
      style="margin-right: 10px"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openLoginDialog()"
    >
      Login
    </button>
  </mat-toolbar>

  <div class="main-content">
    <h1>Welcome to myFlix</h1>
    <p>Your favorite movie database</p>
  </div>
</div>

<router-outlet /> 