<div class="registration-container">
  <h2 mat-dialog-title>Register</h2>
  <mat-dialog-content>
    <form [formGroup]="registrationForm" class="registration-form">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="registrationForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('username')?.hasError('minlength')">
          Username must be at least 3 characters long
        </mat-error>
        <mat-error *ngIf="registrationForm.get('username')?.hasError('maxlength')">
          Username cannot be longer than 30 characters
        </mat-error>
        <mat-error *ngIf="registrationForm.get('username')?.hasError('pattern')">
          Username can only contain letters, numbers, and underscores
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('password')?.hasError('pattern')">
          Password must be at least 8 characters long and include at least one letter, one number, and one special character (&#64;$!%*#?&)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Birthday (Optional)</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" [required]="false">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="registerUser()" [disabled]="!registrationForm.valid">
      Register
    </button>
  </mat-dialog-actions>
</div>
